@model BTLon_ThienDao.Models.BaiDang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BaiDang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongTy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongTy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BaiID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
